html, body {
    font-size: 16px;
    --bg-green: linear-gradient(to right top, #43DC9B, #1EA785);
    --bg-blue: linear-gradient(to right top, #52D6ED, #1793E2);
    --btn-hover-green: #43DC9B;
    --btn-hover-blue: #52D6ED;
}

* {
    font-family: 'pmzdbt', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'pmzdbt';
    src: url('../font/pmzdbt.ttf') format('truetype');
}

@font-face {
    font-family: 'quantum';
    src: url('../font/Quantum-2.otf') format('openType');
}

body {
    background: url('../images/bg.png') no-repeat center center;
    background-size: 100% 100%;
}

header {
    padding: 10px;
    background: rgba(34,38,42,0.9);
    color: #FFF;
}

header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto 0 auto;
    background: transparent;
}
    
.header-right {
    display: block;
}

header .header-left img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.header-left {
    display: flex;
    align-items: center;
    font-size: 30px;
}

header .header-center a {
    color: #BABDBF;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    padding: 10px;
    text-decoration: none;
}
header .header-center a:hover {
    text-decoration: underline;
    color: #FFF;
}
header .header-center a.active {
    text-decoration: underline;
    color: #FFF;
}

.banner {
    width: 100%;
    margin: 40px 0 20px 0;
    display: block;
    position: relative;
}

.countdown {
    font-size: 50px;
    position: absolute;
    left: 18%;
    bottom: 10%;
    text-align: center;
    padding: 10px 0;
    font-family: 'quantum';
    color: #BABDBF;
}


.banner_pc {
    width: 100%;
}
.banner_sm {
    display: none;
}

.select {
    box-shadow: 0px 2px 12px 0px rgba(39,56,50,0.1);
    font-size: 14px;
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 400px;
}

.select .select_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    overflow: hidden;
    background-color: rgba(0,0,0,0.9);
    padding: 10px 20px;
    border-radius: 5px;
}

.select .node {
    color: #BABDBF;
    margin-right: 10px;
    display: inline-block;
}
.select .select_box span {
    word-break: keep-all;
    color: #3FC48A;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    margin-right: 5px;
    overflow: hidden;
}
.el-radio__inner {
    background-color: transparent !important;
    border: 1px solid #3FC48A !important;
}
.el-radio__inner::after {
    width: 14px !important;
    height: 14px !important;
    background-color: #3FC48A !important;
}
.el-radio__input.is-checked+.el-radio__label {
    color: #FFF !important;
}

.select .arrow_img {
    width: 15px;
    height: 15px;
    transition: .3s;
}

.select .arrow_img.rotate {
    transform: rotate(-180deg);
}
::-webkit-scrollbar {
    display: none;
}
.select ul {
    height: 0;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgba(0,0,0,0.9);
    transition: .3s;
    z-index: 1;
    border-radius: 0 0 12px 12px;
    overflow-y: scroll;
    border-radius: 5px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    margin-top: 10px;
}

.select ul li{
    list-style: none;
    margin: 5px 0;
    padding: 10px 20px;
    cursor: pointer;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

.select ul li:first-child{
    margin-top: 20px;
}

.select ul li:last-child{
    margin-bottom: 20px;
}

.content {
    max-width: 1200px;
    margin: 40px auto 0 auto;
    padding-bottom: 100px;
    color: #FFF;
}

.content .title_img {
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

.content .step_title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 40px;
}

.content .step_title p {
    font-size: 30px;
    margin-bottom: 10px;
}

.content .step_info {
    font-size: 18px;
    border-radius: 12px 12px 12px 12px;
    padding: 30px 0 30px 30px;
    background: rgba(0,0,0,0.4);
    border: 2px solid rgba(29,151,193,0.31);
    border-radius: 8px;
    color: #FFF;
    margin-bottom: 30px;
}

.content .step_info .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.content .step_info .info:last-child {
    margin-bottom: 0;
}

.content .step_info .info .info_name {
    color: rgba(255, 255, 255, 0.6);
    width: 100px;
    display: inline-block;
}

.content .step_info .info .info_left {
    word-break: break-all;
    white-space: wrap;
}

.content .copy_img_box {
    text-align: right;
    width: 100%;
}

.content .copy_img {
    width: 40px;
    height: 40px;
    margin-right: 40px;
    cursor: pointer;
}

.content .step_1_tip {
    margin: 40px auto 10px auto;
}

.content .contract {
    color: #E93323;
    margin-bottom: 30px;
    text-align: right;
    width: 65%;
    font-size: 24px;
    cursor: pointer;
}

.content .step_1_memo {
    font-size: 24px;
    margin: 50px 0 30px 0;
}

.content .step_1_memo p {
    margin-bottom: 10px;
}

.content .step_1_memo .memo {
    color: #E93323;
}

.content .btn_box {
    margin: 60px 0 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.content .btn_box .btn {
    width: 156px;
    height: 63px;
    background: var(--bg-green);
    border-radius: 4px 4px 4px 4px;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 63px;
    -webkit-user-select: none;
    user-select: none;
    margin: 0 auto 10px auto;
    cursor: pointer;
}

.content .btn_box .btn:hover {
    background: var(--btn-hover-green);
}

.content .btn_box .btn.red:hover {
    background: #bf2619 !important;
}

.content .step_hide {
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    -webkit-user-select: none;
    user-select: none;
}

.content .step_arrow_img {
    width: 18px;
    height: 18px;
    transition: .3s;
    vertical-align: middle;
    transform: rotate(180deg);
}

.content .step_1_box {
    overflow: hidden;
    transition: .5s;
}

.content .step_2_top {
    color: #3D3D3D;
    font-size: 36px;
    font-weight: bold;
    position: relative;
    padding-left: 20px;
    flex: 1;
}

.content .step_2_top:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: #2A9ADA;
    border-radius: 1px;
}

.content .step_2_eos {
    font-size: 24px;
    margin-top: 10px;
}

.content .step_2_eos span {
    margin-right: 20px;
}

.content .step_cpu {
    margin: 20px 0 10px 0;
}

.content .step_cpu .cpu_item {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 20px;
}

.content .step_cpu .cpu_item .cpu_name {
    font-size: 24px;
}

.content .step_cpu .cpu_btn_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content .step_cpu .cpu_btn {
    width: 125px;
    height: 40px;
    background: var(--bg-green);
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    line-height: 40px;
    text-align: center;
    margin-left: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.content .step_cpu .cpu_btn:hover {
    background: var(--btn-hover-green);
}

.content .quantity {
    font-size: 18px;
}

.content .quantity {
    font-size: 18px;
    text-align: center;
}

.content .quantity span {
    color: var(--btn-hover-blue);
}

.content .blue {
    background: var(--bg-blue) !important;
}

.content .blue:hover {
    background: var(--btn-hover-blue) !important;
}

.content .red {
    background-color: #E93323 !important;
}

.content .red:hover {
    background-color: #e5200e !important;
}

.content .btn_box .btn.disabled {
    background: #CCC !important;
    cursor: not-allowed;
    pointer-events: none;
}

.footer {
    text-align: center;
}

.footer p {
    margin-bottom: 10px;
}
.footer a {
    color: #FFF;
}